.cell {
    -fx-border-color: dodgerblue;
    -fx-border-width: 1px;
}
.cell-highlight {
    -fx-background-color:derive(dodgerblue,0.9);
}
.cell-hover-highlight {
    -fx-background-color:derive(green,0.9);
}
.button {
	-fx-padding: 8 35 8 35;
}
.cell-adj {
	 -fx-background-color:derive(red,0.9);	
}
.cell-path {
	-fx-background-color:derive(purple,0.9);
}
.cell-visited {
	-fx-background-color:derive(yellow,0.9);
}